.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: rgba(25, 25, 25, 0.3);
    width: 251px;
    height: 450px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card span {
    text-align: center;
}

.card button {
    background-color: rgba(25, 25, 25, 0.2);
    border: none;
    font-weight: bold;
}

.card button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.image {
    min-width: 251px;
    max-width: 251px;
    min-height: 370px;
    max-height: 370px;
}

@media screen and (max-width: 569px) {
    .card {
        margin: 0 auto;
        margin-bottom: 30px;
        width: 301px;
        height: 540px;
    }

    .card button {
        padding: 10px 0;
    }

    .image {
        min-width: 301px;
        max-width: 301px;
        min-height: 444px;
        max-height: 444px;
    }

    .card span {
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 349px) {
    .card {
        margin: 0 auto;
        margin-bottom: 30px;
        width: 251px;
        height: 450px;
    }

    .card button {
        padding: 10px 0;
    }

    .image {
        min-width: 251px;
        max-width: 251px;
        min-height: 370px;
        max-height: 370px;
    }

    .card span {
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }
}