.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: rgba(25, 25, 25, 0.3);
    width: 251px;
    height: 450px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card span {
    text-align: center;
}

.card button {
    background-color: rgba(25, 25, 25, 0.2);
    border: none;
    font-weight: bold;
}

.card button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.image {
    min-width: 251px;
    max-width: 251px;
    min-height: 370px;
    max-height: 370px;
}

